:root{
    
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666; 
    --AliceBlue:#f0f8ff;
    --Blue:#89cff0;
    --whitepink:#FEF8F3;
    --blackpink:#FF748C;
    --black:#192a56;
    --second-color: rgb(219, 186, 136);
    --light-color: #666;
    --box-shadow: 0 .5rem  1.5rem rgba(0,0,0,.1);
    --main-color:#da6285;
    --pink-color:#ff8e9d;
    --pink-opacity:#ffe6e9;
    --white-alpha-40:rgba(255,255,255,0.40);
    --white-alpha-25:rgba(255,255,255,0.25);
} 
*{
    font-family:'Nunito',sans-serif ;
    margin: 0;padding: 0;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition:  .2s linear;
    } 

.sub-heading{
    text-align: center;
    font-size: 2rem;
    color: var(--blackpink);
    padding-top: 1rem;
    padding-bottom:1rem;
}
:root{
    
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666; 
    --AliceBlue:#f0f8ff;
    --Blue:#89cff0;
    --whitepink:#FEF8F3;
    --blackpink:#FF748C;
    --black:#192a56;
    --second-color: rgb(219, 186, 136);
    --light-color: #666;
    --box-shadow: 0 .5rem  1.5rem rgba(0,0,0,.1);
    --main-color:#da6285;
    --pink-color:#ff8e9d;
    --pink-opacity:#ffe6e9;
    --white-alpha-40:rgba(255,255,255,0.40);
    --white-alpha-25:rgba(255,255,255,0.25);
} 
*{
    font-family:'Nunito',sans-serif ;
    margin: 0;padding: 0;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition:  .2s linear;
    } 

.sub-heading{
    text-align: center;
    font-size: 2rem;
    color: var(--blackpink);
    padding-top: 1rem;
    padding-bottom:1rem ;}
.softdrinks .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem,5fr));
    gap: 2rem;
}
.softdrinks.box-container .box{
    padding: 1rem;
    background: #FEF8F3;
    border:1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    
}
.softdrinks .box-container .image{
    height: inherit;
    width: inherit;
    
    
    
}
.softdrinks.box-container .box .image img{
    height: inherit;
    width:inherit ;
    border-radius: 40px;
    object-fit: cover;
    
    
}
.softdrinks .box-container .box .image .fa-heart{
    position: absolute;
    top: 1.5rem; right: -15rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    background:var(--pink-opacity);
    border-radius: 50%;
    color: var(--black);
}
.softdrinks .box-container .box .image .fa-heart:hover{
    background-color: var(--pink-color);
    color: #f0f8ff;
}
.softdrinks .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}
.softdrinks .box-container .box .content .stars{
    padding: 1rem 0;
}
.softdrinks .box-container .box .content .stars i{
    font-size: 1rem;
    color: #ff8e9d;
}
.softdrinks .box-container .box .content h3{
    color: #89cff0; 
    font-size: 1.5rem;
}
.softdrinks .box-container .box .content .price{
    color: #192a56;
    margin-left: 1rem;
    font-size: 2.5rem;
}










